<form name="buyerImagesCreate.form" class="form-horizontal" ng-submit="buyerImagesCreate.submit()" autocomplete="off" novalidate oc-pretty-submit>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="buyerImagesCreate.cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Address</h4>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label class="col-sm-3 control-label" for="imageID">Image ID</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="imageID" name="ID" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" ng-model="buyerImagesCreate.newImage.ID" required />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-sm-3 control-label" for="imageSrc">Image Source</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="imageSrc" name="Source" ng-model="buyerImagesCreate.newImage.Src" required />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-sm-3 control-label" for="imageTitle">Image Title</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="imageTitle" name="Title" placeholder="(Optional)" ng-model="buyerImagesCreate.newImage.Title" />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-sm-3 control-label" for="imageSubtitle">Image Subtitle</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="imageSubtitle" name="Subtitle" placeholder="(Optional)" ng-model="buyerImagesCreate.newImage.SubText" />
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block" cg-busy="buyerImagesCreate.loading" ng-disabled="buyerImagesCreate.form.$invalid">Save</button>
    </div>
</form>