<header class="l-page-header">
    <h3 class="l-page-header__title">
        Carousel Slides
    </h3>
    <!--====== CREATE ======-->
    <div class="l-page-header__btns" oc-if-roles="CostCenterAdmin">
        <button type="button" ng-disabled="buyerCarouselCtrl.buyer.xp.Slides.Items.length >= 7" class="btn btn-primary btn-block" ng-click="buyerCarouselCtrl.uploadSlide()"><i class="fa fa-plus-circle"></i>
            New Slide
        </button>
    </div>
</header>
<div cg-busy="buyerCarouselCtrl.searchLoading">
    <div class="no-matches" ng-if="!buyerCarouselCtrl.buyer.xp || !buyerCarouselCtrl.buyer.xp.Slides || !buyerCarouselCtrl.buyer.xp.Slides.Items || !buyerCarouselCtrl.buyer.xp.Slides.Items.length">
        <b>No matches found.</b>
        <b>This buyer organization does not have any slides.</b>
    </div>
    <div ng-if="buyerCarouselCtrl.buyer.xp && buyerCarouselCtrl.buyer.xp.Slides && buyerCarouselCtrl.buyer.xp.Slides.Items && buyerCarouselCtrl.buyer.xp.Slides.Items.length">
        <div class="row">
            <div class="col-md-6">
                <oc-carousel buyer="buyerCarouselCtrl.buyer"></oc-carousel>
                <br>
                <small class="text-muted">For optimal results, please use images at least 1020px wide and with consistent height values.</small> 
            </div>
            <div class="col-md-6">
                <form name="buyerCarouselCtrl.form" class="form-horizontal" ng-submit="buyerCarouselCtrl.updateSlide()" autocomplete="off" novalidate oc-pretty-submit>
                    <fieldset class="form-group">
                        <label class="col-sm-3 control-label" for="imageID">Slide ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="imageID" name="ID" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" ng-model="buyerCarouselCtrl.slideData.ID" required />
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="col-sm-3 control-label" for="imageTitle">Slide Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="imageTitle" name="Title" placeholder="(Optional)" ng-model="buyerCarouselCtrl.slideData.Title"/>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="col-sm-3 control-label" for="imageSubtitle">Slide Subtitle</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="imageSubtitle" name="Subtitle" placeholder="(Optional)" ng-model="buyerCarouselCtrl.slideData.SubText"/>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="orderCloudUpload" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <oc-file-upload file-upload-model="buyerCarouselCtrl.buyer.xp" file-upload-options="buyerCarouselCtrl.fileUploadOptions"></oc-file-upload>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-block btn-primary" cg-busy="buyerCarouselCtrl.searchLoading" ng-disabled="buyerCarouselCtrl.$invalid || (buyerCarouselCtrl.$invalid && buyerCarouselCtrl.disabled)" type="submit">Save Changes</button>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9">
                            <hr>
                            <button class="btn btn-block btn-danger" type="button" ng-click="buyerCarouselCtrl.deleteSlide()"><i class="fa fa-trash-o"></i> Delete Slide</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3 class="l-page-header__title">
                    Carousel Settings
                </h3>
                <form name="buyerImagesSettings.form" class="form-horizontal" ng-submit="buyerCarouselCtrl.updateSettings()" autocomplete="off" novalidate oc-pretty-submit>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label for="carouselNoWrap">
                                    <input id="carouselNoWrap" name="NoWrap" type="checkbox" ng-model="buyerCarouselCtrl.infiniteLoop"/>
                                    Infinite Loop
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label for="carouselAutoPlay">
                                    <input id="carouselAutoPlay" name="AutoPlay" type="checkbox" ng-model="buyerCarouselCtrl.settings.AutoPlay"/>
                                    AutoPlay
                                </label>
                            </div>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <label class="col-sm-3 control-label" for="carouselInterval">
                            Interval
                            <br>
                            <small class="text-muted">(milliseconds)</small>
                        </label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="carouselInterval" name="Interval" pattern="(^[1-9]\d{3,})" pattern-err-type="SLIDE_Interval" ng-model="buyerCarouselCtrl.settings.Interval" ng-disabled="!buyerCarouselCtrl.settings.AutoPlay" ng-required="buyerCarouselCtrl.settings.AutoPlay"/>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-block btn-primary" cg-busy="buyerCarouselCtrl.searchLoading" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>